th,td {
  padding: 5px 20px 5px 0;
}

.reset_link {
  font-size: 0.8em;
  text-align: right;
}

.search_bar {
  padding: 0.5em 0;
  width: 20em;
}

#key_word {
  height: 2.5em;
  width: 20em;
  font-size: 1em;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
}